<span class="datatable-action">
    <a href="{{ path('sessionstatus_edit', {'id':id}) }}">
        <button class="btn btn-success btn-xs">
            <i class="ace-icon fa fa-wrench  bigger-110 icon-only"></i>
        </button>
    </a>
    <a href="{{ path('sessionstatus_delete', {'id':id}) }}">
        <button class="btn btn-warning btn-xs">
            <i class="ace-icon fa fa-trash-o bigger-110 icon-only"></i>
        </button>
    </a>
</span>