<span class="datatable-action">
    <a href="{{ path('technology_edit', {'id':id}) }}">
        <button class="btn btn-success btn-xs">
            <i class="ace-icon fa fa-wrench  bigger-110 icon-only"></i>
        </button>
    </a>
    {#<form action="{{ path('technology_delete', {'id':id}) }}" method="POST">#}
        <a href="{{ path('technology_delete', {'id':id}) }}">
            <button class="btn btn-warning btn-xs" type="submit">
                <i class="ace-icon fa fa-trash-o bigger-110 icon-only"></i>
            </button>
        </a>
    {#</form>#}
</span>