{% block euro_widget %}
    {% spaceless %}
        <div class="input-group">
            {{ form_widget(form, { 'attr': {'class': 'form-control'}} ) }}
            <span class="input-group-addon"><i class="fa fa-euro"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}
